services:
  backend:
    build:
      context: ./backend
      dockerfile: Dockerfile
    ports:
      - "8080:8080"
    environment:
      MODEL_APPROVAL_PATH: /opt/models/mo_approval_model.zip
      MODEL_BORROW_PATH: /opt/models/mo_borrow_model.zip
      MODEL_CREDIT_APPROVAL_PATH: /opt/models/credit_approval_model.zip
      MODEL_CREDIT_BORROW_PATH: /opt/models/credit_borrow_model.zip
      MODEL_LOAN_APPROVAL_PATH: /opt/models/loan_approval_model.zip
      MODEL_LOAN_BORROW_PATH: /opt/models/loan_borrow_model.zip
      MODEL_CURRENT_APPROVAL_PATH: /opt/models/current_approval_model.zip
    volumes:
      - ./models:/opt/models:ro

  frontend:
    build:
      context: ./frontend
      dockerfile: Dockerfile
    ports:
      - "5173:80"
    depends_on:
      - backend
